@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 90vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.memory-game {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .memory-game {
    grid-template-columns: repeat(3, 1fr);
  }
}

.memory-card {
  position: relative;
  height: 240px;
  width: 140px;
  margin: 10px;
  perspective: 1000px;
  cursor: pointer;
}

.memory-card .front-face,
.memory-card .back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}

.memory-card .front-face {
  background-color: #333;
}

.memory-card .back-face {
  background-color: #666;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-card .back-face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memory-card.flip .front-face {
  transform: rotateY(180deg);
}

.memory-card.flip .back-face {
  transform: rotateY(0deg);
}

.memory-card.match {
  opacity: 0.5;
  cursor: default;
}